:root {
    --background-color: rgb(19, 18, 18);
    --font-color: white;
    --font-family: 'Muli', sans-serif;
}

body {
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: var(--font-family);
}

